<head>
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>

<nav class="navbar navbar-default-inverse" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<h2>Jillica's Notes</h2>
		</div>
	</div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{outlet}}
    </div>
  </div>
</div>

